.navbar-root {
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 5;
    top: 0;
}

.navbar-container {
    width: 100%;
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 25px;
}

.navbar-logo {
    height: 50px;
    cursor: pointer;
}

.navbar-icon-container .MuiButtonBase-root {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.47);
}

.sub-navbar-container {
    display: none;
}

.font-sm {
    font-size: 13px;
}

.drawer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    row-gap: 30px;
    padding: 10px;
    border-radius: 10px;
    direction: rtl;
}

.drawer-wallet-container {
    width: 75%;
    padding-top: 10px;
}

.css-10hburv-MuiTypography-root {
    font-family: "Segoe UI Light", sans-serif!important;
    font-size: 15px;
}

@media (min-width: 1024px) {
    .sub-navbar-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        height: 45px;
        padding-top: 10px;
        box-sizing: border-box;
        padding-inline: 30px;
        background-color: white;
        box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 0;
    }

    .sub-navbar-btn-container {
        display: flex;
        gap: 50px;
    }

    .active {
        visibility: visible;
        transition: all 0.2s;
    }
    .hidden {
        visibility: hidden;
        transition: all 0.2s;
        z-index: -9999;
        transform: translateY(-100%);
    }
}