.products-root {
    width: 100%;
    margin-inline: auto;
    display: flex;
    position: relative;
}

.products-items-container {
    flex-basis: 100%;
    padding-block: 15px;
    box-sizing: border-box;
}

.products-top-filter-root {
    display: flex;
    padding-block: 15px;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: 0 5px 8px -3px rgb(0 0 0 / 10%);
    background-color: white;
}

.products-top-filter-container {
    direction: rtl;
    display: flex;
    color: #8d8d8d;
}

.products-top-filter-title {
    font-family: "Yekan", sans-serif;
    color: #707070;
    padding-top: 5px;
}

.products-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.products-grid-item {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.products-side-container {
    display: none;
    position: sticky;
    flex-direction: column;
    height: 600px;
    padding: 15px;
    row-gap: 10px;
    top: 100px;
    transition: top 0.5s;
}

.side-up {
    top: 60px!important;
}

.products-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media (min-width: 1024px) {
    .products-top-filter-root {
        display: flex;
    }

    .products-items-container {
        flex-basis: 80%;
    }

    .products-top-filter-container {
        column-gap: 30px;
    }

    .products-side-container {
        display: flex;
    }

    .products-grid-item {
        width: 25%;
    }
}
