.card-root {
    display: flex;
    width: 180px;
    height: 430px;
    border-radius: 10px;
    background-color: white;
}

.card-shadow {
    box-shadow: 0 5px 8px -3px rgb(166 196 198 / 35%);
}

.card-container {
    width: 140px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 150px;
    height: 200px;
    margin-inline: auto;
}

.product-info {
    width: 100%;
    margin-top: 10px;
}

.product-name {
    width: 100%;
    text-align: center;
    font-family: "Segoe UI Light", sans-serif;
    font-size: 13px;
    color: rgb(76, 94, 96);
}

.product-price {
    color: #707070;
    font-family: IRTitr, sans-serif;
    margin-top: 40px;
    direction: rtl;
    text-align: left;
}

.product-commands {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .card-root {
        width: 220px;
    }

    .card-container {
        width: 170px;
    }
}