.search-bar-container {
    display: flex;
    align-items: center;
    min-width: 250px;
    max-width: 450px;
    width: 45%;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(249, 249, 249);
    color: #707070;
}

.side-search-bar {
    width: 100%;
    max-width: none;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 8px -3px rgb(0 0 0 / 10%);
}

.search-bar-input {
    width: 90%;
    height: 100%;
    margin-inline: 15px;
    outline: 0;
    background: none;
    font-family: "Segoe UI Light", sans-serif;
    border: 0;
    font-size: 13px;
    direction: rtl;
}

.search-bar-btn {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

@media (max-width: 1024px) {
    .search-bar-container {
        display: none;
    }
}