.side-filter-root {
    display: none;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 8px -3px rgb(0 0 0 / 10%);
    padding-block: 10px;
    background-color: white;
}

.side-filter-header {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    direction: rtl;
    position: relative;
    font-family: "B Yekan", sans-serif;
    color: #545454;
}

.side-filter-title {
    position: relative;
    padding-right: 30px;
    font-size: 16px;
}

.side-filter-title:before {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background: #00ACFF;
    box-shadow: 0 0 6px #00ACFF;
    display: block;
    content: "";
}

.side-filter-list {
    width: 85%;
    max-height: 300px;
    overflow-y: scroll;
    margin-inline: auto;
    margin-top: 10px;
    color: #707070;
}

@media (min-width: 1024px) {
    .side-filter-root {
        display: block;
    }
}