.small-form-root {
    width: 80%;
    height: 100px;
    background: linear-gradient(90deg, rgba(64, 201, 255, 0.6), rgba(232, 28, 255, 0.6));
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 0;
    margin-inline: auto;
}

.small-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.small-form-input-container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    white-space: nowrap;
}

.small-form-input {
    width: 90%;
    height: 100%;
    outline: 0;
    background: none;
    font-family: "Segoe UI Light", sans-serif;
    border: 0;
    font-size: 16px;
    direction: rtl;
    border-radius: 5px;
}

.small-form-input-container > .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    border-radius: 10px;
}

.small-form-submit-btn {
    margin-top: -3.5px!important;
    width: 9%;
    max-width: 50px;
    height: 50px;
}

.small-form-text {
    font-family: "Segoe UI Light", sans-serif;
    color: white;
    margin-inline: auto;
}

@media (min-width: 1024px) {
    .small-form-root {
        width: 70%;
        height: 60px;
    }

    .small-form-container {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .small-form-input-container {
        width: 70% !important;
        height: 100% !important;
    }

    .small-form-input {
        width: 90%;
        height: 100%;
    }

    .small-form-text {
        font-size: 13px;
        margin: 0;
    }

    .small-form-submit-btn {
        width: 9%;
        max-width: 60px;
        height: 40px;
    }

    .small-form-input {
        width: 90%;
        height: 100%;
        font-size: 13px;
    }
}