.user-root {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.orders-table-container-outer {
    background-color: white;
    flex-basis: 100%;
    box-shadow: 0 5px 8px -3px rgb(0 0 0 / 10%);
    border-radius: 10px;
    direction: rtl;
}

.orders-table-header {
    width: 100%;
    box-sizing: border-box;
    padding-inline: 20px;
    color: #707070;
}

.orders-table-header-inner {
    display: flex;
    padding-right: 25px;
    position: relative;
}

.orders-table-header-inner h4::before {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background: #00ACFF;
    box-shadow: 0 0 6px #00ACFF;
    display: block;
    content: "";
}

.orders-table-container-inner {
    width: 100%;
    text-align: right;
}

th {
    color: #0080FF;
    font-family: "Yekan", sans-serif;
    padding: 25px;
}

td {
    font-weight: bold;
    color: #707070;
    padding-block: 15px;
    padding-inline: 25px;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    flex-basis: 0;
    row-gap: 30px;
    padding: 10px;
    box-shadow: 0 5px 8px -3px rgb(0 0 0 / 10%);
    border-radius: 10px;
    direction: rtl;
}

.user-personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.user-info-name {
    font-size: 20px;
}

.user-info-email {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 12px;
}

.user-wallet-container {
    width: 75%;
    border-top: 1px solid #a6a6a6;
    padding-top: 10px;
}

.user-wallet-container-inner {
    display: flex;
    justify-content: space-between;
    font-family: "Segoe UI Light", sans-serif;
    font-size: 12px;
    color: #707070;
    margin-bottom: 10px;
}

@media (min-width: 1024px) {
    .orders-table-container-outer {
        flex-basis: 70%;
    }
    .user-root {
        column-gap: 15px;
        flex-direction: row;
    }
    .user-info-container {
        display: flex;
        height: 600px;
        flex-basis: 30%;
        row-gap: 0;
        position: sticky;
        top: 120px;
    }
}