.product-plate-container-outer {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 8px -3px rgb(0 0 0 / 10%);
}

.product-plate-container-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    justify-content: space-between;
}

.product-plate-left-side {
    display: flex;
    flex-direction: column;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Segoe UI Light", sans-serif;
}

.product-title-image {
    width: 250px;
    height: 400px;
}

.product-title {
    font-family: "Teko SemiBold", sans-serif;
    font-size: 25px;
}

.product-info-price {
    color: #00ACFF;
    font-family: "B Yekan", sans-serif;
    font-weight: bold;
}

.text-danger {
    color: rgba(255, 83, 83, 0.8) !important;
}

.product-controls {
    width: 100%;
    direction: rtl;
}

.product-plate-right-side {
    color: #707070;
    font-size: 16px;
    font-family: "B Nazanin", sans-serif;
    direction: rtl;
    margin-top: 15px;
}

.product-exp {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.product-details-root {
    width: 100%;
    font-family: "Segoe UI Light", sans-serif;
    position: relative;
}

.product-details-header-outer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-top: 0.25px solid rgba(0, 0, 0, 0.5);
}

.product-details-header-inner {
    margin-inline: auto;
    padding-block: 10px;
    padding-inline: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0080FF;
    color: white;
    font-family: "B Yekan", sans-serif;
}

.product-details-container {
    width: 100%;
    background: linear-gradient(#000, #000) no-repeat center/0.25px 100%;
}

.product-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-block: 20px;
    padding-inline: 40px;
    font-size: 15px;
}

@media (min-width: 1024px) {
    .product-plate-container-inner {
        flex-direction: row;
    }

    .product-info-container {
        margin-left: 15px;
        height: 400px;
    }

    .product-plate-left-side {
        flex-direction: row;
    }

    .product-plate-right-side {
        width: 400px;
        margin-top: 0;
    }
}