@import '../mixins';

.not-found__page {
  @include flex(row, center, center);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.not-found__content {
  @include flex(column, normal, center);
  font-family: Yekan, sans-serif;
}