.account__dialog {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 8px -3px rgb(0 0 0 / 10%);
  color: #707070;
}

.account__dialog__header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 10px;
  direction: rtl;
  position: relative;
  font-family: "Yekan", sans-serif;
}

.account__dialog__title {
  padding-right: 30px;
  position: relative;
  font-size: 16px;
}

.account__dialog__title:before {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background: #00ACFF;
  box-shadow: 0 0 6px #00ACFF;
  content: "";
}

.account__body {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Segoe UI Light", sans-serif;
  direction: rtl;
}

.account__dialog__button__section {
  display: flex;
  column-gap: 10px;
  width: 100%;
}